body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.Name_highlight{
    color:orange;
}
.hirebutton{
    background-color: coral;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
    height: 500px;
}
.hiremebutton{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon ,tomato);
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.secondSection{
    margin-top:80px;
    background-image: url(images/dream-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;

}

.single_experience{
    box-shadow: 10px 10px 40px gray;
    height:80%;
    border-radius: 10px;
    background-color: white;
}

.experience_area{
    height:300px;
    background-image:url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size:80px;
    
    

}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon ,tomato);
    border-image-slice: 1;

}
#baby-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;

}
h1{
    font-weight: 900;
    
}
footer p{
    text-align: center;
}